/Course-Java/Lab2/Task1/nbproject/private/
/Course-Java/Lab2/Task1/build/
/Course-Java/Lab2/Task2/nbproject/private/
/Course-Java/Lab2/Task2/build/
/Course-Java/Lab2/Task3/nbproject/private/
/Course-Java/Lab2/Task3/build/
/Course-Java/Lab3/Lab1and2/nbproject/private/
/Course-Java/Lab3/Task1and2/nbproject/private/
/Course-Java/Lab3/Task1And2/nbproject/private/
/Course-Java/Lab3/Task1/nbproject/private/
/Course-Java/Lab3/Task1/build/
/Course-Java/Lab3/Task2/nbproject/private/
/Course-Java/Lab3/Task2/build/
/Course-Java/Lab4/Task1/nbproject/private/
/Course-Java/Lab4/Task1/build/
/Course-Java/Lab4/Task2/nbproject/private/
/Course-Java/Lab4/Task2/build/
/Course-Java/Lab4/Task3/nbproject/private/
/Course-Java/Lab4/Task3/build/
/Course-Java/Lab5/Task1/nbproject/private/
/Course-Java/Lab5/Task1/build/
/Course-Java/Lab5/Task2/nbproject/private/
/Course-Java/Lab5/Task2/build/
/Course-Java/Lab5/Task3/nbproject/private/
/Course-Java/Lab5/Task3/build/
/Course-Java/Lab6/Task1/nbproject/private/
/Course-Java/Lab6/Task1/build/
