@import "tailwindcss";

@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

:root {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
  background-image: radial-gradient(circle at top, #1e1b4b, #020617 70%);
  background-attachment: fixed;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
