body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:  
    "myHeader myHeader myHeader"
    "mySide myContent myContent"
    "myFooter myFooter myFooter";
    grid-template-columns: 1fr 2fr 2fr;
    margin: 0;
    background-color: #f9fafc;
    min-height: 100vh;
}
nav{
    grid-area: myHeader;
    background-color: #1e293b;
    color: white;
    padding: 0;
}
aside{
    grid-area: mySide;
    background-color: #f1f4f9;
}
main{
    grid-area: myContent;
    margin-top: 16px;
    margin-bottom: 16px;
}
footer{
    grid-area: myFooter;
    text-align: center;
    background-color: #1e293b;
    color: white;
    padding: 16px;
    font-weight: bold;
}
.nav-items{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
    padding: 4px 24px;
}
.aside-items{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items:  start;
    padding-inline-start: 0;
    padding: 16px;
}
.aside-items li{
    background-color: #e1e8f0;
    margin-bottom: 16px;
    width: 90%;
    padding: 8px;
    border-radius: 8px;
}
.login-btn{
    background-color: #35c0f7;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card h3, .card p{
    align-self: flex-start;
    padding-left: 12px;
}
.card h3{
    margin-bottom: 4px;
}
.card p{
    color: gray;
    margin-top: 0; 
    font-size: 12px;
    width: 80%;
}
.image-container{
    width: 100%;

}
img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.details{
    background-color: #0ea6e9;
    color: white;
    padding: 8px 24px;
    font-weight: bold;
    width: 90%;
    border: none;
    border-radius: 8px;
}
@media screen and (max-width: 778px) {
    body{
        grid-template-columns:  1fr 2fr;

    }
    
}
@media screen and (max-width: 576px) {
    body{
        grid-template-areas:  
        "myHeader"
        "myContent"
        "myFooter";
        grid-template-columns: 1fr;
    }
    aside{
        display: none;
    }
    
}