body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f0f1f5;
    text-align: center;
}
nav{
    border-bottom: 2px solid #e84c3d;
    background-color: white;
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 8px;

}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
}
.cards{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;

}
.cards .card{
    border: 2px solid #e84c3d;
    border-radius: 8px;
    padding: 20px 16px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.cards button{
    background-color: #2d3e50;
    padding: 12px 24px;
    width: 100%;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.features{
    background-color: #2d3e50;
    padding: 64px 4px;
}
.features h2{
    color: #e84c3d;
}
.features p{
    color: #f0f1f3;
}
.features-group{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.features-group .feature-card{
    background-color: white;
    padding:25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-card p{
    color: gray;
    font-size: 12px;
}
.feature-card h3{
    color: #2d3e50;
}
.circle{
    background-color: #e84c3d;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}